.cache/
history
dirvish-cache/
bookmarks.eld
ede-projects.el
eln-cache/
elpa/
elpaca/
eshell/
fontaine-latest-state.eld
history/
multisession/
pkgs/
places.eld
projectile-bookmarks.eld
projects.eld
recentf.eld
tabsession.el
tramp
transient
tree-sitter
var